<tr id=<%- car._id %>>
<td>
<%- car.make %>
</td>
<td>
<%- car.model %>
</td>
<td class="center">
  <%- car.year %>
</td>
<td class="center">
  £ <%- car.price %>
</td>
<td class="center"><a href=<%- car.details %> >see</>
</td>
<td class="size"><%- car.size %></td>
</tr>