<link rel="stylesheet" href="stylesheets/styleButtons.css" type="text/css" /><style>._css3m{display:none}</style>

<style>
body{
      width:471px;
      margin-left:auto;
      margin-right:auto;
      }
      
  .indexMenu{
    width:100%;
    min-width: 442px;
    }
    .dataTables_wrapper{
    min-width: 442px;  
      }
      
     .indexMenu a{height:20px;line-height:20px;} 
      
      .topfirst a{width:48px}
</style>

<script>
$(function(){
  var oTable=$('#indexTable').dataTable({"aoColumnDefs": [
    { "bSearchable": false,"bVisible": false, "aTargets": [ 5 ] },
    { "sWidth": "auto", "aTargets": [ 0 ] },
    { "sWidth": "auto", "aTargets": [ 1 ] },
    { "sWidth": "auto", "aTargets": [ 2 ] },
    { "sWidth": "auto", "aTargets": [ 3 ] },
    { "sWidth": "auto", "aTargets": [ 4 ] },
    ] });
  
  //$('body').css ('padding-left', '25%');
  //$('body').css ('padding-right', '25%');
  $('#indexTable').attr('style','');
  //$('indexTable').css('width','auto');
  
  
  $('.topfirst').click(function(){
    oTable.fnFilter( '', 5 );
  });
  
  $('.topSm').click(function(){
    oTable.fnFilter( 'Small', 5 );
  });
  
  $('.topSt').click(function(){
    oTable.fnFilter( 'Standard', 5 );
  });
  
  $('.toplast').click(function(){
    oTable.fnFilter( 'Large', 5 );
  });

});


</script>



<ul id="css3menu1" class="topmenu indexMenu">
<li class="topfirst"><a><alt="All"/>All</a></li>
  <li class="topSm"><a><img src="/images/smallicon2.png" alt="small                                             ">small                                             </a></li>
  <li class="topSt" ><a><img src="/images/Standardiconb.png" alt="Standard">Standard</a></li>
  <li class="toplast"><a><img src="/images/LARGEicon.png" alt="LARGE ">LARGE </a></li>
  <!-- <li class="topfirst"><a  style="width:134px"><alt="All"/>All</a></li>
  <li class="topSm"><a  style="height:20px;line-height:20px;width:134px"><img src="/images/smallicon2.png" alt="small                                             ">small                                             </a></li>
  <li class="topSt" ><a style="height:20px;line-height:20px;width:134px"><img src="/images/Standardiconb.png" alt="Standard">Standard</a></li>
	<li class="toplast"><a style="height:20px;line-height:20px;width:135px"><img src="/images/LARGEicon.png" alt="LARGE ">LARGE </a></li> -->
</ul>

<div id="title">Cars-in Retford</div>

<table id="indexTable" class="display" cellpadding="0" cellspacing="0" border="0">
<thead>
  <tr>
    <th>
      Make
    </th>
    <th>
      Model
    </th>
    <th>
      Year
    </th>
    <th>
      Price
    </th>
    <th>
      Details
    </th>
    <th>
      size
    </th>
  </tr>
</thead>
<%- partial('car', cars) %>
<tfoot>
  <tr>
    <th>
      Make
    </th>
    <th>
      Model
    </th>
    <th>
      Year
    </th>
    <th>
      Price
    </th>
    <th>
      Details
    </th>
    <th>
      size
    </th>
  </tr>
</tfoot>
</table>
<div id="footerTitle">Cars-inRetford.co.uk</div>
<a id="twitLink" href="https://twitter.com/#!/CarsinRetford"><img src="/images/Twitter24x24pixel.PNG"></img></a>

