<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <style>
    body{
      min-width:898px;
      } 
    </style>
    
    <script>
    
    
    
       $(function() {
          //$('#example').dataTable();
          //$("#example2").dataTable();
          
          
          
       });
      </script>
      <ul id="css3menu1" class="topmenu">
        <li class="topfirst"><a href="/myCars" style="height:18px;line-height:18px;"><span>My cars</span></a></li>
        <% if(session.user){ %>
        <li><a href="/addCarMenu" style="height:18px;line-height:18px;"><span>Add car</span></a></li>
        <li class="toplast"><a href="/sessions/destroy" style="height:18px;line-height:18px;"><span>Logout</span></a></li>
        <%} %>
        <% if(!session.user) { %>
        <li class="toplast"><a href="/addCarMenu" style="height:18px;line-height:18px;"><span>Add car</span></a></li>
        <% } %>
      </ul>
    
    <div>
    <% if(session.user){ %>
      logged in as <%- session.user.login %>
      <%} %>
    </div>

  </head>
  <div id="container">
  <%-body%>
  </div>
</html>
