<script>
  $(function() {
    
    var oTable=$('#example').dataTable({"aoColumnDefs": [
    { "bSearchable": false,"bVisible": false, "aTargets": [ 5 ] },
    { "sWidth": "auto", "aTargets": [ 0 ] },
    { "sWidth": "auto", "aTargets": [ 1 ] },
    { "sWidth": "auto", "aTargets": [ 2 ] },
    { "sWidth": "auto", "aTargets": [ 3 ] },
    { "sWidth": "auto", "aTargets": [ 4 ] },
    ] });
  
    //$('body').css ('padding-left', '25%');
    //$('body').css ('padding-right', '25%');
    //$('#example').attr('style','');
    //$('indexTable').css('width','auto');
    
     $.getJSON("/json/carJson.json", function(cars) {
       //populate selects
       $("#makeSelect").append ("<option value=\"" + 'Choose make' + "\">" + 'Choose make' + "</option>");
       for (var make in cars){
         $("#makeSelect").append ("<option value=\"" + make + "\">" + make + "</option>");
       }
       
       $("#modelSelect").append ("<option value=\"" + 'Choose model' + "\">" + 'Choose model' + "</option>");
       
       $('#makeSelect').change(function(){
         $("#modelSelect").empty();
         $("#modelSelect").append ("<option value=\"" + 'Choose model' + "\">" + 'Choose model' + "</option>");
         val = $(this).val();
         
         for(var i in cars[val]){
           $("#modelSelect").append("<option value=\"" + cars[val][i].model + "\">" + cars[val][i].model + "</option>");
         }
       });
       
       if ($('#carModel').attr('name')){
         $('#makeSelect').val($('#carMake').attr('name'));
         $('#makeSelect').trigger('change');
         $('#modelSelect').val($('#carModel').attr('name'));
       }
       
       function populateModels(make){
         //$('#modelSelect').empty();
         //for(var m in cars.make){
         //  cars.make[m].model
         //}
       }
       
       $('tr').click(function(){
         if(!$(this).attr('class')) return;
         $(this).parent().children().attr('style','');
         $('.sorting_1').attr('style', '');
         $(this).attr('style', 'background-color:gray');
         $(this).find('.sorting_1').first().attr('style', 'background-color:gray');
         
         var make=$(this).children().eq(0).text().trim();
         $('#makeSelect').val(make);
         $('#makeSelect').trigger('change');
         
         
         $('#modelSelect').val($(this).children().eq(1).text().trim());
         $('#yearSelect').val ($(this).children().eq(2).text().trim());
         $('#priceSelect').focus();
         $('#priceSelect').val ($(this).children().eq(3).text().trim().substring(2));
         $('#priceSelect').focusout();
         $('#detailsSelect').focus();
         $('#detailsSelect').val ($(this).children().eq(4).children().eq(0).attr ('href'));
         $('#detailsSelect').focusout();
         $('#detailsSelect').blur();
         $('#selectedIdd').val ($(this).attr ('id'));
         
         
         //
         
         //
         
       });
       
       $('#updateId').click(function(e) {
         var mes = $('#selectedIdd').val();
         if (mes == "null") {alert('Please, choose a car');
         e.preventDefault();return;}
         
         if($('#modelSelect')[0].selectedIndex==0) {
           alert('Please, select make and model');
           e.preventDefault();
           return;
         }
         
         if($('#yearSelect')[0].selectedIndex==0) {
           alert('Please, select year');
           e.preventDefault();
           return;
         }
         
         if($('#priceSelect').hasClass('description_active') || $('#priceSelect').text=="") {
           alert('Please, enter the price');
           e.preventDefault();
           return;
         }
         
         if($('#detailsSelect').hasClass('description_active') || $('#detailsSelect').text=="") {
           alert('Please, enter the web site address');
           e.preventDefault();
           return;
         }
       });
       
       $('#deleteId').click(function(e) {
         var mes = $('#selectedIdd').val();
         if (mes == "null") {alert('Please, choose a car');
         e.preventDefault();return;}
         
         //if($('#priceSelect').hasClass('description_active')) {
         //  alert('Please, enter the price');
        //   e.preventDefault();
        // }
         
         
       });
       
       $('#createId').click(function(e) {
         if($('#modelSelect')[0].selectedIndex==0) {
           alert('Please, select make and model');
           e.preventDefault();
           return;
         }
         
         if($('#yearSelect')[0].selectedIndex==0) {
           alert('Please, select a year');
           e.preventDefault();
           return;
         }
         //var mes = $('#selectedIdd').val();
         //if (mes == "null") alert('Please, choose a car');
         //e.preventDefault();
         if($('#priceSelect').hasClass('description_active') || $('#priceSelect').text=="") {
           alert('Please, enter the price');
           e.preventDefault();
           return;
         }
         
         if($('#detailsSelect').hasClass('description_active') || $('#detailsSelect').text=="") {
           alert('Please, enter the web site address');
           e.preventDefault();
         }
         
         
       });
       
       $('.currencyinput').toggle();
       $('#priceSelect').css('padding-left','0px');
       
       $('#priceSelect').focus(function() {
         if($(this).hasClass('description_active')){
           var left=$('#priceSelect').position().left;
          $('.currencyinput').css('left',left-342); 
          $('.currencyinput').toggle();
          
          $('#priceSelect').removeClass('description_active');
          $('#priceSelect').val('');
          $('#priceSelect').css('padding-left','10px');
          $('#priceSelect').css('width',($(this).width()-10).toString()+'px');
         }
       });
         
       $('#priceSelect').focusout(function() {
         if($(this).val()==''){
           $('.currencyinput').toggle();
          $('#priceSelect').addClass('description_active');
          $('#priceSelect').val("Enter Price in £'s (numbers only)");
          $('#priceSelect').css('padding-left','0px');
          $('#priceSelect').css('width',($(this).width()+10).toString()+'px');
         }
       });
       
       $("#priceSelect").keypress(function(e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
           //display error message
           //$("#errmsg").html("Digits Only").show().fadeOut("slow");
           return false;
         }
       });
       
       $('#detailsSelect').focus(function() {
         if($(this).hasClass('description_active')){
          $('#detailsSelect').removeClass('description_active');
          $('#detailsSelect').val('');
         }
       });
         
       $('#detailsSelect').focusout(function() {
         if($(this).val()==''){
          $('#detailsSelect').addClass('description_active');
          $('#detailsSelect').val("Add or paste your web site address here");
         }
       });
       
     });
  });
</script>

<input id='carModel' type='hidden' name="<%= carModel %>" ></input>
<input id='carMake' type='hidden' name="<%= carMake %>" ></input>

<style>

#asterisks{
  
}

.asterisk{
  color:red;
  float:left;
  height:1px;
  margin-top:2px;
}

#ast1{margin-left:105px;}
#ast2{margin-left:110px;}
#ast3{margin-left:100px;}
#ast4{margin-left:200px;}
#ast5{margin-left:240px;}
#ast6{margin-left:30px;margin-right:4px}
#ast7{float:none;margin-left:600px;}

</style>

<div id="asterisks">
  <div class="asterisk" id="ast1">*</div>
  <div class="asterisk" id="ast2">*</div>
  <div class="asterisk" id="ast3">*</div>
  <div class="asterisk" id="ast4">*</div>
  <div class="asterisk" id="ast5">*</div>
  <div class="asterisk" id="ast6">*</div>
  <div class="" id="ast7"> = Required</div>
</div>

<form id="form1" name="form1" method="post" action="addCar">
  <select id="makeSelect" name="make"></select>
  <select id="modelSelect" name="model"></select>
  <select id="yearSelect" name="year">
    <option>Choose year</option>
    <option>2012</option>
    <option>2011</option>
    <option>2010</option>
    <option>2009</option>
    <option>2008</option>
    <option>2007</option>
    <option>2006</option>
    <option>2005</option>
    <option>2004</option>
    <option>2003</option>
    <option>2002</option>
    <option>2001</option>
    <option>2000</option>
    <option>1999</option>
    <option>1998</option>
  </select>
  <span class='currencyinput'>£</span>
  <input id='priceSelect' type="text" name="price" class='description_active' value="Enter Price in £'s (numbers only)"/>
  <input id="detailsSelect" type="text" name="details" class='description_active' value="Add or paste your web site address here"/>
  <input type="submit" id="createId" value="create" name="create" />
  <input type="submit" id="updateId" value="update" name="update" />
  <input type="submit" id="deleteId" value="delete" name="delete" />
  <input id="selectedIdd" type="hidden" name="selectedIdd" value="null" />
</form>
<table id="example" class="display" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>
        Make
      </th>
      <th>
        Model
      </th>
      <th>
        Year
      </th>
      <th>
        Price
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <%- partial('car', cars) %>
  <tfoot>
    <tr>
      <th>
        Make
      </th>
      <th>
        Model
      </th>
      <th>
        Year
      </th>
      <th>
        Price
      </th>
      <th>
        Details
      </th>
    </tr>
  </tfoot>
</table>
