<link rel="stylesheet" href="stylesheets/style.css" type="text/css" /><style>._css3m{display:none}</style>

<div id="loginElements">
<form action="/sessions" method="POST">

<input type="hidden" name="redir" value=<%- redir %> />
<p>
Login  <input type="text" name="login" id="login" />
</p>
<p>
Password  <label for="password"></label>
  <input type="password" name="password" id="password" />
</p>
<p>
  <input id="loginSubmit" type="submit" value="Login" />
</p>

<span>Trouble with log in? <a href="mailto:dev.ojservices@gmail.com">Click here to send us an email</a></span>
</form>
</div>
<div id="terms">By logging in and becoming a "user"  you are accepting the terms and conditions under which the site operates as set out in the invitation  letter  + email you received containing  your user name and password.</div>